.footer-component {
    height: 120px;
    width: 100%;
    background-color: $dark_blue;
    position: relative;
}

.footer-logo {
    background-image: url('../../src/images/logo-ymmersion.png');
    background-repeat: no-repeat;
    width: 174px;
    height: 23px;
    margin-left: 49px;
}

.footer-copyright p {
    font-family: $main_font;
    color: white;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1.86px;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-social {
    width: 200px;
}

.footer-social-icons a {
    text-decoration: none;
    color: white;
    border: solid 2px white;
    border-radius: 31px;
    height: 31px;
    width: 31px;
    position: relative;
    margin-left: 16.5px;
}

.fab2 {
    font-size: 15px;
}