.input-form {
    height: 55px;
    width: 100%;
    border: 1px solid $black;
    border-radius: 4px;
    margin-bottom: 33px;
}

.label-description {
    font-weight: 900;
    color: $black;
    font-family: $main_font;
    font-size: 18px;
    letter-spacing: 0.95;
    line-height: 22px;
    margin-bottom: 19px;
}